<mat-card>
    <form [formGroup]="budgetForm" class="budget-form">
        <app-select
            label="Select start Date"
            [options]="monthOptions"
            [control]="budgetForm.controls['startDate']"
        ></app-select>
        <app-select
            label="Select end Date"
            [options]="endDates"
            [control]="budgetForm.controls['endDate']"
        ></app-select>
    </form>
    <div class="budget-form__list">
        <table>
            <thead>
                <tr>
                    <th>
                        Start Period
                        {{ budgetForm.controls['startDate'].value }} End Period
                        {{ budgetForm.controls['endDate'].value }}
                    </th>
                    <th class="budget-form__text-end">January 2024</th>
                    <th class="budget-form__text-end">February 2024</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td
                        colspan="3"
                        class="budget-form__bold budget-form__parent"
                    >
                        Income
                    </td>
                </tr>
                <tr>
                    <td class="budget-form__bold">General Income</td>
                    <td class="budget-form__text-end">100</td>
                    <td class="budget-form__text-end">120</td>
                </tr>
                <tr>
                    <td>Sales</td>
                    <td class="budget-form__text-end">200</td>
                    <td class="budget-form__text-end">400</td>
                </tr>
                <tr>
                    <td>Commission</td>
                    <td class="budget-form__text-end">0</td>
                    <td class="budget-form__text-end">200</td>
                </tr>
                <tr>
                    <td>Add a new ‘General Income’ Category</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="budget-form__bold">Sub Totals</td>
                    <td class="budget-form__text-end">300</td>
                    <td class="budget-form__text-end">720</td>
                </tr>
                <tr>
                    <td style="color: white">empty</td>
                    <td style="color: white">empty</td>
                    <td style="color: white">empty</td>
                </tr>
                <tr>
                    <td class="budget-form__bold">Add New Parent Category</td>
                    <td style="color: white"></td>
                    <td style="color: white"></td>
                </tr>
                <!--                sum data -->
                <tr>
                    <td colspan="3" style="color: white">Sum income</td>
                </tr>
                <tr>
                    <td class="budget-form__bold">Income Total</td>
                    <td class="budget-form__text-end budget-form__bold">100</td>
                    <td class="budget-form__text-end budget-form__bold">120</td>
                </tr>

                <tr>
                    <td colspan="3" style="color: white">Start Expenses</td>
                </tr>
                <tr>
                    <td
                        colspan="3"
                        class="budget-form__bold budget-form__parent"
                    >
                        Expenses
                    </td>
                </tr>

                <tr>
                    <td colspan="3" style="color: white">Sum All</td>
                </tr>
                <tr>
                    <td class="budget-form__bold">Total Expenses</td>
                    <td class="budget-form__text-end">100</td>
                    <td class="budget-form__text-end =">120</td>
                </tr>
                <tr>
                    <td class="budget-form__bold">Profit / Loss</td>
                    <td class="budget-form__text-end">100</td>
                    <td class="budget-form__text-end =">120</td>
                </tr>
                <tr>
                    <td class="budget-form__bold">Opening Balance</td>
                    <td class="budget-form__text-end">100</td>
                    <td class="budget-form__text-end =">120</td>
                </tr>
                <tr>
                    <td class="budget-form__bold">Closing Balance</td>
                    <td class="budget-form__text-end">100</td>
                    <td class="budget-form__text-end =">120</td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-card>
<button
    mat-raised-button
    color="primary"
    (click)="saveBudget()"
    class="budget-form__full-width"
>
    Save
</button>
